@tailwind base;
@tailwind components;
@tailwind utilities;
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: #20c7ab;
  padding: 20px 32px !important;
}
.lightbox.open{
  display:flex;
}
@layer base {
  @font-face {
    font-family: Recoleta;
    src: url("../fonts/Recoleta-Light.woff2") format("woff2"),
      url("../fonts/Recoleta-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Recoleta;
    src: url("../fonts/Recoleta-Regular.woff2") format("woff2"),
      url("../fonts/Recoleta-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Recoleta;
    src: url("../fonts/Recoleta-Medium.woff2") format("woff2"),
      url("../fonts/Recoleta-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Recoleta;
    src: url(."./fonts/Recoleta-SemiBold.woff2") format("woff2"),
      url("../fonts/Recoleta-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Recoleta;
    src: url("../fonts/Recoleta-Bold.woff2") format("woff2"),
      url("../fonts/Recoleta-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
